.CompanyDetailLanding {
  &__left-column {
    padding-top: 9.25rem;
  }

  &__product-image {
    height: 80%;
  }

  &__heading p {
    display: inline;
  }

  &__images-container {
    max-height: 35vh;

    @include media('md-up') {
      max-height: unset;
    }
  }

  &__images {
    @include media('md-up') {
      max-height: 80vh;
    }
  }

  &__links {
    bottom: -2.75rem;

    @include media('md-up') {
      bottom: 0;
    }
  }
}
