.CompanyDetailLanding {
  &__left-column {
    padding-top: 9.25rem;
  }

  &__product-image {
    max-height: 14rem;
    height: 80%;

    @include media('xs-up') {
      max-height: unset;
    }
  }

  &__heading {
    font-size: 3.125rem;
    line-height: 3.125rem;

    @include media('sm-up') {
      font-size: 4.5rem;
      line-height: 4.725rem;
    }

    @media (min-width: 1366px) {
      font-size: 6.25rem;
      line-height: 6.25rem;
    }

    p {
      display: inline;
    }
  }

  &__images-container {
    max-height: 35vh;

    @include media('md-up') {
      max-height: unset;
    }
  }

  &__images {
    max-height: 14rem;

    @include media('xs-up') {
      max-height: unset;
    }

    @include media('md-up') {
      height: 70vh;
    }

    @include media('lg-up') {
      height: 72vh;
    }

    @include media('xl-up') {
      height: 78vh;
    }
  }

  &__links {
    bottom: -2.75rem;

    @include media('md-up') {
      bottom: 0;
    }
  }

  @include media('xs-up') {
    min-height: 100vh;
  }
}
