.FeaturedFoundersCarousel {
  /** Fixes overflow issues */
  overflow: hidden;
  min-width: 100%;
  width: 0;

  &__image {
    height: 9.984375rem;

    @include media('sm-up') {
      height: 25.25rem;
    }

    @include media('xxl-up') {
      height: 34.119375rem;
    }
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;

    & > * {
      height: 100%;
    }
  }

  &__slide {
    display: inline-flex !important;
    height: 100%;
  }

  &__pagination-container {
    bottom: -1rem;
    right: 0;

    @include media('md-up') {
      bottom: 0;
      right: 3.75rem;
    }
  }

  &__pagination {
    &__dot {
      position: relative;
      height: 0.1875rem;
      margin-right: 0.1875rem;
      width: 1.5rem;
      background: color('lilac-lighter');

      @include media('sm-up') {
        width: 1.6875rem;
      }

      &--current {
        background: color('lilac-darkest');
      }
    }
  }

  &__bio p {
    display: inline;
  }
}
