.FeaturedFoundersCarousel {
  /** Fixes overflow issues */
  overflow: hidden;
  min-width: 100%;
  width: 0;

  &__image,
  &__video-container {
    height: 9.984375rem;

    @include media('sm-up') {
      height: 25.25rem;
    }

    @include media('xxl-up') {
      height: 34.119375rem;
    }
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;

    & > * {
      height: 100%;
    }
  }

  /** Fixes a React-Slick bug and ensures that only the current, active slide is clickable when the Slider has the fade transition. */
  .slick-slide {
    z-index: 998;
    pointer-events: none;
  }

  .slick-active.slick-current {
    z-index: 999;
    pointer-events: unset !important;
  }

  &__slide {
    display: inline-flex !important;
    height: 100%;
  }

  &__pagination-container {
    top: 30%;
    right: 0;

    @include media('md-up') {
      top: 30%;
      right: 3.75rem;
    }
  }

  .slick-active {
    .FeaturedFoundersCarousel__video-container {
      transform: translate3d(0, 0, 0);
      @extend %transition;
    }
  }

  &__video-container {
    transform: translate3d(3rem, 0, 0);
    @extend %transition;
  }

  &__bio p {
    display: inline;
  }
}
