.FoundersImpactSlideshow {
  /** Fixes overflow issues */
  overflow: hidden;
  min-width: 100%;
  width: 0;

  &__right-tile-content,
  &__left-tile-content {
    min-height: 24.25rem;

    @include media('md-up') {
      min-height: 28.75rem;
    }
  }

  &__img-container {
    height: 11.125rem;
    width: 8.8125rem;
  }

  &__logo-container {
    position: relative;

    > img {
      max-height: 2rem;
      width: 5rem;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      @include media('md-up') {
        max-height: 3rem;
        width: 6rem;
      }
    }
  }

  &__pagination-container {
    @include media('md-up') {
      top: 50%;
      right: -5rem;
    }

    &--style-mobile {
      bottom: 3rem;
      right: 0rem;
    }
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
    /** Fixes a React-Slick bug and ensures that only the current, active slide is clickable when the Slider has the fade transition. */
    z-index: 5;
    pointer-events: none;

    & > * {
      height: 100%;
    }
  }

  /** Fixes a React-Slick bug and ensures that only the current, active slide is clickable when the Slider has the fade transition. */
  .slick-active.slick-current {
    z-index: 6;
    pointer-events: unset !important;
  }

  &__slide {
    display: inline-flex !important;
    height: 100%;

    &__card-container {
      @include media('sm-up') {
        height: 100%;
      }
    }

    &__card {
      min-height: 24.25rem;

      @include media('md-up') {
        min-height: 36rem;
      }
    }
  }

  &__heading {
    font-size: 1.125rem;
    letter-spacing: 0.02rem;
    line-height: 1.18125rem;

    @include media('md-up') {
      font-size: 1.5rem;
      line-height: 1.575rem;
    }
  }
}
