.HomeHero {
  &__inline-subheader {
    font-family: $benton;
    font-size: 1rem;
    letter-spacing: 0.02rem;

    @include media('lg-up') {
      font-size: 1.625rem;
    }
  }

  &__logo {
    width: $home-hero-logo-width-mobile;

    @include media('md-up') {
      width: $home-hero-logo-width-desktop;
    }
  }

  &__logo-container {
    &--style-is-active {
      animation: $transition-animate-appear-from-left;
      animation-fill-mode: forwards;
    }
  }

  &__photo-card {
    top: 5rem;
    right: 0rem;

    @include media('lg-up') {
      top: -5rem;
      right: -5rem;
    }

    @include media('xl-up') {
      top: -5rem;
      right: -5rem;
    }
  }
}
