.HomeHero {
  &__logo {
    width: $home-hero-logo-width-mobile;

    @include media('md-up') {
      width: $home-hero-logo-width-desktop;
    }
  }

  &__founder {
    color: color('lilac');

    @include media('md-up') {
      color: color('charcoal');
    }
  }

  &__photo-card {
    top: 3rem;
    right: -6rem;

    @include media('md-up') {
      top: 7rem;
      right: -5rem;
    }
  }
}
