.LineIconWithButton {
  @extend .transition;

  &:hover {
    .LineIconWithButton__button-line-icon {
      @extend .transition;

      transform: scaleX(1.4);
    }
  }

  &__button:hover {
    @extend .transition;
    transform: translate3d(0.25rem, 0, 0);
  }

  &__button-line-icon {
    width: 1.0625rem;
    height: 0.125rem;
  }
}
