.Loader {
  &__bar {
    width: 11rem;
    height: 0.75rem;
    opacity: 1;
    background: linear-gradient(to right, color('chalk') 0%, color('mulberry') 50%);
    background-size: 200% 200%;
    animation: slide forwards 1.75s linear infinite;
  }
}

@keyframes slide {
  0% {
    background-position: 200% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
