.MenuOverlay {
  &__section-one {
    height: 2.9375rem;

    @include media('lg-up') {
      height: unset;
    }
  }

  &__section-two {
    flex-grow: 1;
  }

  &__section-three {
    flex-grow: 1;
  }

  &__heading p {
    display: inline;
  }

  &__heading-indentation {
    @include media('md-up') {
      padding-right: 13.9375rem;
    }
  }

  &__copyright {
    bottom: 0;
  }

  &__menu-link-button {
    &--style-medium {
      &::before {
        content: '';
        @extend .transition-shorter;
        background-image: url('../../components/icons/DefaultHeadingLineIcon.svg');
        display: inline-block;
        width: 0;
        opacity: 0;
      }

      &:hover {
        &::before {
          @extend .transition-shorter;
          opacity: 1;
          width: 1.5rem;
          height: 0.35rem;
          margin-right: 0.4rem;

          @include media('lg-up') {
            width: 1.9375rem;
            height: 0.4375rem;
            margin-right: 0.5rem;
          }
        }
      }
    }

    &--style-small {
      &::before {
        content: '';
        @extend .transition-shorter;
        background-image: url('../../components/icons/DefaultHeadingLineIcon.svg');
        display: inline-block;
        width: 0;
        opacity: 0;
      }

      &:hover {
        &::before {
          @extend .transition-shorter;
          opacity: 1;
          width: 1rem;
          height: 0.25rem;
          margin-right: 0.25rem;

          @include media('lg-up') {
            width: 1.5rem;
            height: 0.35rem;
            margin-right: 0.4rem;
          }
        }
      }
    }
  }
}
