.Nav {
  height: $nav-height-mobile;

  @include media('md-up') {
    height: $nav-height-tablet;
  }
  @include media('xl-up') {
    height: $nav-height-desktop;
  }

  &__logo-bbgv {
    width: $home-hero-logo-width-mobile;

    @include media('md-up') {
      width: $home-hero-logo-width-desktop;
    }
  }

  &__logo-ventures {
    height: 0.875rem;

    @include media('md-up') {
      height: 1.375rem;
    }
  }

  &__logo-bbg {
    width: 3.375rem;

    @include media('md-up') {
      width: 5.1875rem;
    }
  }

  &__logo-ventures {
    width: 3.8125rem;

    @include media('md-up') {
      width: 5.8125rem;
    }
  }

  &__logo-container {
    &--style-scrolled {
      max-width: 3.9rem;

      &:hover {
        max-width: $home-hero-logo-width-mobile;
      }

      @include media('md-up') {
        max-width: 6rem;

        &:hover {
          max-width: $home-hero-logo-width-desktop;
        }
      }
    }
  }

  .move-right {
    margin-left: 0.25rem;
    animation: animate-appear-from-left 0.45s forwards;

    @include media('md-up') {
      margin-left: 0.45rem;
    }
  }

  &__menu-overlay {
    z-index: -1;
  }
}
