.ParagraphWithHeadingAndButton {
  padding-bottom: 2.6875rem;

  &__paragraph {
    > div {
      display: inline;
      font-family: $abcdiatype;
      font-size: 0.875rem;
      line-height: 1.0625rem;

      @include media('lg-up') {
        font-size: 1.125rem;
        line-height: 1.375rem;
      }

      p {
        display: inline;
        padding-bottom: 2.6875rem;

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }

    > p {
      display: inline;
      padding-bottom: 2.6875rem;
      font-family: $abcdiatype;
      font-size: 0.875rem;
      line-height: 1.0625rem;

      @include media('lg-up') {
        font-size: 1.125rem;
        line-height: 1.375rem;
      }
    }
  }
}
