.PortfolioListing {
  @include media('lg-up') {
    padding-left: $site-padding-x-desktop;
    padding-right: $site-padding-x-desktop;
  }

  &__company-container {
    &:hover {
      .PortfolioListing__button-container {
        pointer-events: all;
        opacity: 1;
        transform: translate3d(0, 0.075rem, 0);
      }
    }
  }

  &__button-container {
    transform: translate3d(0, 0.25rem, 0);
    border-bottom-left-radius: radius('xs');
    border-bottom-right-radius: radius('xs');
  }

  &__company-detail {
    font-size: 1.125rem;
    line-height: 1.18125rem;
    letter-spacing: 0.0125rem;
  }
}

.FounderCard {
  height: 16.875rem;
  width: 50vw;

  @include media('sm-up') {
    height: 25rem;
  }

  @include media('md-up') {
    width: 12rem;
    height: 16.875rem;
  }

  &__img-container {
    height: 16.875rem;
    width: 50vw;

    @include media('sm-up') {
      height: 25rem;
    }

    @include media('md-up') {
      width: 12rem;
      height: 16.875rem;
    }

    &::before {
      content: '';
      position: absolute;
      display: grid;
      place-items: center;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30%;
      background: linear-gradient(180deg, rgba(239, 233, 220, 0) 0%, rgb(0, 0, 0) 98%);
    }
  }

  &__tag {
    border-top-right-radius: radius('xs');
    border-bottom-right-radius: radius('xs');
    top: 1.25rem;
  }
}
