.PortfolioListing {
  @include media('lg-up') {
    padding-left: $site-padding-x-desktop;
    padding-right: $site-padding-x-desktop;
  }

  &__company-container {
    &:hover {
      .PortfolioListing__button-container {
        pointer-events: all;
        opacity: 1;
        transform: translate3d(0, 0.075rem, 0);
      }
    }
  }

  &__button-container {
    transform: translate3d(0, 0.25rem, 0);
    border-bottom-left-radius: radius('xs');
    border-bottom-right-radius: radius('xs');
  }

  &__company-detail {
    font-size: 1.125rem;
    line-height: 1.18125rem;
    letter-spacing: 0.0125rem;
  }
}

.FounderCard {
  height: 16.875rem;
  width: 50vw;

  @include media('sm-up') {
    height: 25rem;
  }

  @include media('md-up') {
    width: 12rem;
    height: 16.875rem;
  }

  &__img-container {
    height: 16.875rem;
    width: 50vw;

    @include media('sm-up') {
      height: 25rem;
    }

    @include media('md-up') {
      width: 12rem;
      height: 16.875rem;
    }

    &::before {
      content: '';
      position: absolute;
      display: grid;
      place-items: center;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30%;
      background: linear-gradient(
        to top,
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.987) 8.1%,
        hsla(0, 0%, 0%, 0.951) 15.5%,
        hsla(0, 0%, 0%, 0.896) 22.5%,
        hsla(0, 0%, 0%, 0.825) 29%,
        hsla(0, 0%, 0%, 0.741) 35.3%,
        hsla(0, 0%, 0%, 0.648) 41.2%,
        hsla(0, 0%, 0%, 0.55) 47.1%,
        hsla(0, 0%, 0%, 0.45) 52.9%,
        hsla(0, 0%, 0%, 0.352) 58.8%,
        hsla(0, 0%, 0%, 0.259) 64.7%,
        hsla(0, 0%, 0%, 0.175) 71%,
        hsla(0, 0%, 0%, 0.104) 77.5%,
        hsla(0, 0%, 0%, 0.049) 84.5%,
        hsla(0, 0%, 0%, 0.013) 91.9%,
        hsla(0, 0%, 0%, 0) 100%
      );
    }
  }

  &__tag {
    border-top-right-radius: radius('xs');
    border-bottom-right-radius: radius('xs');
    top: 1.25rem;
  }
}
