.PressList {
  &--style-nutella {
    > .PressList__item {
      border-top: 2px solid color('nutella');
    }

    > .PressList__item:last-child {
      border-bottom: 2px solid color('nutella');
    }
  }

  &--style-lilac {
    > .PressList__item {
      border-top: 2px solid color('lilac');
    }

    > .PressList__item:last-child {
      border-bottom: 2px solid color('lilac');
    }
  }

  &__button {
    @extend .transition-shorter;
  }

  &__button-line-icon {
    @extend .transition-shorter;
    width: 1.0625rem;
    height: 0.125rem;

    &--style-hover {
      width: 2.25rem;
    }
  }

  &__button-placeholder-div {
    &--style-full-width {
      width: 1.1875rem;
    }

    &--style-no-width {
      width: 0;
    }
  }
}
