.PressList {
  &--style-nutella {
    > .PressList__item {
      border-top: 2px solid color('nutella');
    }

    > .PressList__item:last-child {
      border-bottom: 2px solid color('nutella');
    }
  }

  &--style-lilac {
    > .PressList__item {
      border-top: 2px solid color('lilac');
    }

    > .PressList__item:last-child {
      border-bottom: 2px solid color('lilac');
    }
  }

  &__button {
    svg > path {
      fill: color('lilac-very-dark');
    }

    &:hover {
      color: lighten(color('lilac-very-dark'), 8%);

      .PressList__button-line-icon {
        border: 1px solid lighten(color('lilac-very-dark'), 8%);
      }
    }
  }

  &__button-line-icon {
    width: 1.0625rem;
    height: 0.125rem;
  }
}
