.TextModuleWithParagraphs {
  &--style-one-column,
  &--style-two-columns {
    &__paragraph {
      ul,
      ol {
        list-style-position: inside;
      }

      ul {
        list-style-type: none;

        li {
          background-image: url('../../components/icons/BulletPointIcon.svg');
          background-repeat: no-repeat;
          background-position: 1px;
          padding-left: 3.375rem;

          strong {
            @extend .secondary-bold-sm;
          }
        }
      }

      ol li a,
      ul li a {
        @extend .link--style-body-charcoal;
      }

      ol li::before {
        content: '';
        width: 2.375rem;
        display: inline-block;
      }

      div,
      div p {
        h2,
        h3,
        h4,
        h5,
        h6 {
          @extend .primary-md;
          padding-bottom: 1.5rem;
        }

        strong {
          @extend .font-secondary-bold;
        }

        ul,
        ol {
          list-style-position: inside;
        }

        ul {
          list-style-type: none;

          li {
            background-image: url('../../components/icons/BulletPointIcon.svg');
            background-repeat: no-repeat;
            background-position: 1px;
            padding-left: 3.375rem;

            strong {
              @extend .secondary-bold-sm;
            }
          }
        }

        ol li a,
        ul li a {
          @extend .link--style-body-charcoal;
        }

        ol li::before {
          content: '';
          width: 2.375rem;
          display: inline-block;
        }
      }

      p {
        margin-bottom: 1.5rem;

        a {
          color: color('charcoal');

          &:hover {
            @extend .hover-lighten-charcoal;
          }
        }
      }
    }
  }

  &__inner-container {
    padding-left: $site-padding-x-mobile;
    padding-right: $site-padding-x-mobile;

    @include media('lg') {
      padding-left: 0;
      padding-right: 0;
      max-width: $site-inner-content-max-width;
    }
  }

  &__subheading-line {
    width: 4.9375rem;
    height: 0.1875rem;

    @include media('lg-up') {
      width: 5.75rem;
      height: 0.3125rem;
    }
  }

  &__heading p {
    display: inline;
  }
}
