/** Global site sizing */

.site-inner-content-max-width {
  max-width: $site-inner-content-max-width;
}

.site-padding-x {
  padding-left: $site-padding-x-mobile;
  padding-right: $site-padding-x-mobile;

  @include media('lg-up') {
    padding-left: $site-padding-x-desktop;
    padding-right: $site-padding-x-desktop;
  }
}

.page {
  margin-top: calc(#{$nav-top-margin-mobile} + #{$nav-height-mobile});

  @include media('xl-up') {
    margin-top: $nav-height-desktop;
  }
}

.disable-body-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.hyphens {
  hyphens: auto;
}
