/** Borders */

.border-top-nutella {
  border-top: 3px solid color('nutella');
}

.border-bottom-nutella {
  border-bottom: 3px solid color('nutella');
}

.border-top-mulberry {
  border-top: 3px solid color('mulberry');
}

.border-bottom-mulberry {
  border-bottom: 3px solid color('mulberry');
}

/** Global site sizing */

.site-inner-content-max-width {
  max-width: $site-inner-content-max-width;
}

.site-padding-x {
  padding-left: $site-padding-x-mobile;
  padding-right: $site-padding-x-mobile;

  @include media('lg-up') {
    padding-left: $site-padding-x-desktop;
    padding-right: $site-padding-x-desktop;
  }
}

.site-margin-x {
  margin-left: $site-padding-x-mobile;
  margin-right: $site-padding-x-mobile;

  @include media('lg-up') {
    margin-left: $site-padding-x-desktop;
    margin-right: $site-padding-x-desktop;
  }
}

.page-style--margin-top {
  margin-top: calc(#{$nav-top-margin-mobile} + #{$nav-height-mobile});

  @include media('xl-up') {
    margin-top: $nav-height-desktop;
  }
}

.text-module-padding-x {
  @extend .site-margin-x;
  @extend .site-inner-content-max-width;
}

/** Utils */

.disable-body-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.hyphens {
  hyphens: auto;
}

.two-columns {
  @include media('md-up') {
    column-count: 2;
    column-gap: 1.25rem;
  }
}
