$site-max-width: 118.75rem;
$site-inner-content-max-width: 111.25rem;
$site-padding-x-mobile: 0.75rem;
$site-padding-x-desktop: 3.75rem;

/** Home */
$home-hero-logo-width-desktop: 11.5rem;
$home-hero-logo-width-mobile: 7.4375rem;

/** Nav */
$nav-logo-width-mobile: 7.4375rem;
$nav-logo-width-tablet: 7.4375rem;
$nav-logo-width-desktop: 13.625rem;

$nav-top-margin-mobile: 2.5rem;
$nav-top-margin-tablet: 2.5rem;

$nav-height-mobile: 2.9375rem;
$nav-height-tablet: 2.9375rem;
$nav-height-desktop: 4.1875rem;

/** Footer */
$footer-height-desktop: 32.125rem;
