$abcdiatype: 'ABCDiatype-Regular', 'Arial', sans-serif;
$abcdiatype-bold: 'ABCDiatype-Bold', 'Arial', sans-serif;
$benton: 'Benton', 'Oswald', sans-serif;

/** Families */
.font-primary {
  font-family: $benton;
}

.font-secondary {
  font-family: $abcdiatype;
}

.font-secondary-bold {
  font-family: $abcdiatype-bold;
}

/** Styles */

.font-italic {
  font-style: italic;
}

/** Sizes */

.primary-xxl {
  font-family: $benton;
  font-size: 3.125rem;
  line-height: 3.125rem;

  @include media('lg-up') {
    font-size: 6.25rem;
    line-height: 6.25rem;
  }
}

.primary-xl {
  font-family: $benton;
  font-size: 2.25rem;
  line-height: 2.3625rem;

  @include media('lg-up') {
    font-size: 4.5rem;
    line-height: 4.725rem;
  }
}

.primary-lg {
  font-family: $benton;
  font-size: 2.25rem;
  line-height: 2.3625rem;

  @include media('lg-up') {
    font-size: 3.375rem;
    line-height: 3.54375rem;
  }
}

.primary-md {
  font-family: $benton;
  font-size: 1.5rem;
  line-height: 1.65rem;

  @include media('lg-up') {
    font-size: 2.25rem;
    line-height: 2.3625rem;
  }
}

.primary-sm {
  font-family: $benton;
  font-size: 0.875rem;
  line-height: 0.91875rem;
  letter-spacing: 0.0125rem;

  @include media('lg-up') {
    font-size: 1.125rem;
    line-height: 1.18125rem;
  }
}

.primary-xs {
  font-family: $benton;
  font-size: 0.875rem;
  line-height: 0.91875rem;
}

.secondary-sm {
  font-family: $abcdiatype;
  font-size: 0.875rem;
  line-height: 1.0625rem;

  @include media('lg-up') {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

.secondary-xs {
  font-family: $abcdiatype;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 0;
}

.secondary-xxs {
  font-family: $abcdiatype;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  letter-spacing: 0.01rem;
}

.secondary-bold-sm {
  font-family: $abcdiatype-bold;
  font-size: 0.875rem;
  line-height: 1.0625rem;

  @include media('lg-up') {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

.secondary-bold-xs {
  font-family: $abcdiatype-bold;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 0;
}

.secondary-bold-xxs {
  font-family: $abcdiatype-bold;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  letter-spacing: 0.01rem;
}
